



{% extends 'base.html' %}
{% load static %}
{% block title %}
Live Session
{% endblock title %}
{% block body %}


<div id="main-content" class="site-main clearfix">
            <div id="content-wrap">
                <div id="site-content" class="site-content clearfix">
                    <div id="inner-content" class="inner-content-wrap">
                       <div class="page-content">
                            <!-- SERVICES -->
                            <div class="row-services">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="themesflat-spacer clearfix" data-desktop="73" data-mobile="60" data-smobile="60"></div>
                                            <div class="themesflat-spacer clearfix" data-desktop="40" data-mobile="35" data-smobile="35"></div>
                                            <h4 style="text-align: center">OUR SESSION OUTLINE</h4>
                                            <div class="themesflat-project style-2 isotope-project has-margin mg15 data-effect clearfix">
                                                <div class="project-item green villa">
                                                    <div class="inner">
                                                        <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                                            <img src="{% static 'assets/img/project/Full Ielts.png' %}" alt="Image">
                                                            <div class="elm-link">

                                                                <div class="elm-meta ">
                                                                    <h5 class="heading text-white">FULL IELTS</h5>

                                                            </div>

                                                            </div>

                                                        </div>
                                                        <div class="text-wrap">
                                                            <h5 class="heading"><a href="#">FULL IELTS</a></h5>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>


                                                        </div>
                                                    </div>
                                                </div><!-- /.product-item -->
                                                <div class="project-item green villa">
                                                    <div class="inner">
                                                        <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                                            <img src="{% static 'assets/img/project/ebook.jpg' %}" alt="Image">
                                                            <div class="elm-link">

                                                                <div class="elm-meta ">
                                                                    <h5 class="heading text-white">FREE EBOOK</h5>

                                                            </div>

                                                            </div>

                                                        </div>
                                                        <div class="text-wrap">
                                                            <h5 class="heading"><a href="#">FREE EBOOK</a></h5>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>


                                                        </div>
                                                    </div>
                                                </div><!-- /.product-item -->
                                                <div class="project-item green villa">
                                                    <div class="inner">
                                                        <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                                            <img src="{% static 'assets/img/project/pdf.jpg' %}" alt="Image">
                                                            <div class="elm-link">

                                                                <div class="elm-meta ">
                                                                    <h5 class="heading text-white">DILY PDF AFTER EACH CLASS</h5>

                                                            </div>

                                                            </div>

                                                        </div>
                                                        <div class="text-wrap">
                                                            <h5 class="heading"><a href="#">DILY PDF AFTER EACH CLASS</a></h5>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>


                                                        </div>
                                                    </div>
                                                </div><!-- /.product-item -->
                                                <div class="project-item green villa">
                                                    <div class="inner">
                                                        <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                                            <img src="{% static 'assets/img/project/evaluation.jpg' %}" alt="Image">
                                                            <div class="elm-link">

                                                                <div class="elm-meta ">
                                                                    <h5 class="heading text-white">WEEKLY EVALUATION</h5>

                                                            </div>

                                                            </div>

                                                        </div>
                                                        <div class="text-wrap">
                                                            <h5 class="heading"><a href="#">WEEKLY EVALUATION</a></h5>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>


                                                        </div>
                                                    </div>
                                                </div><!-- /.product-item -->
                                                <div class="project-item green villa">
                                                    <div class="inner">
                                                        <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                                            <img src="{% static 'assets/img/project/mentor.jpg' %}" alt="Image">
                                                            <div class="elm-link">

                                                                <div class="elm-meta ">
                                                                    <h5 class="heading text-white">FULL TIME MENTOR SUPPORT</h5>

                                                            </div>

                                                            </div>

                                                        </div>
                                                        <div class="text-wrap">
                                                            <h5 class="heading"><a href="#">FULL TIME MENTOR SUPPORT</a></h5>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>


                                                        </div>
                                                    </div>
                                                </div><!-- /.product-item -->
                                                <div class="project-item green villa">
                                                    <div class="inner">
                                                        <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                                            <img src="{% static 'assets/img/project/mock.jpg' %}" alt="Image">
                                                            <div class="elm-link">

                                                                <div class="elm-meta ">
                                                                    <h5 class="heading text-white">25 EXAM-APPEARED QUESTION FOR MOCK TEST</h5>

                                                            </div>

                                                            </div>

                                                        </div>
                                                        <div class="text-wrap">
                                                            <h5 class="heading"><a href="#">25 EXAM-APPEARED QUESTION FOR MOCK TEST</a></h5>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>


                                                        </div>
                                                    </div>
                                                </div><!-- /.product-item -->
                                                <div class="project-item green villa">
                                                    <div class="inner">
                                                        <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                                            <img src="{% static 'assets/img/project/Question.png' %}" alt="Image">
                                                            <div class="elm-link">

                                                                <div class="elm-meta ">
                                                                    <h5 class="heading text-white">EXTRA TIME QUESTIONARE SESSION</h5>

                                                            </div>

                                                            </div>

                                                        </div>
                                                        <div class="text-wrap">
                                                            <h5 class="heading"><a href="#">EXTRA TIME QUESTIONARE SESSION</a></h5>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>


                                                        </div>
                                                    </div>
                                                </div><!-- /.product-item -->
                                                <div class="project-item green villa">
                                                    <div class="inner">
                                                        <div class="thumb data-effect-item has-effect-icon w40 offset-v-19 offset-h-49">
                                                            <img src="{% static 'assets/img/project/Guanteed.png' %}" alt="Image">
<!--                                                            <div class="elm-link">-->

<!--                                                                <div class="elm-meta ">-->
<!--                                                                    <h5 class="heading text-white">BAND SCORE 7 OR 7+ GUARANTED</h5>-->

<!--                                                            </div>-->

<!--                                                            </div>-->

                                                        </div>
                                                        <div class="text-wrap">
                                                            <h5 class="heading"><a href="#">BAND SCORE 7 OR 7+ GUARANTED</a></h5>
                                                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>


                                                        </div>
                                                    </div>
                                                </div><!-- /.product-item -->

                                            </div><!-- /.themesflat-project -->
                                            <div class="button-wrap has-icon icon-left size-14 pf21 text-center">
                                                <a href="{% url 'booking_class' %}" class="themesflat-button bg-accent pd32"><span>BOOK NOW</span></a>
                                            </div>
                                            <div class="themesflat-spacer clearfix" data-desktop="72" data-mobile="60" data-smobile="60"></div>
                                        </div><!-- /.col-md-12 -->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div>
                            <!-- END SERVICES -->
                       </div><!-- /.page-content -->
                    </div><!-- /#inner-content -->
                </div><!-- /#site-content -->
            </div><!-- /#content-wrap -->
        </div><!-- /#main-content -->




     {% endblock body %}